<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:insert="fragment :: head"></div>

<body>

<h1 class="text-center">There's no page here!</h1>
<h4 class="text-center">Upss..Something went wrong!</h4>
<h4 class="text-center">Our engineers are working on it!</h4>

<div class="text-center">
    <a href="/" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-home"></i>
                                        </span>
        <span class="text">Go Home</span>
    </a>
</div>


<!--<table class="table-bordered">-->
<!--    <tr>-->
<!--        <td>Date</td>-->
<!--        -->
<!--        <td th:text="${timestamp}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Path</td>-->
<!--       -->
<!--        <td th:text="${path}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Error</td>-->
<!--       -->
<!--        <td th:text="${error}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Status</td>-->
<!--        -->
<!--        <td th:text="${status}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Message</td>-->
<!--      -->
<!--        <td th:text="${message}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Exception</td>-->
<!--        -->
<!--        <td th:text="${exception}"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Trace</td>-->
<!--        <td>-->
<!--            <pre th:text="${trace}">-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

</body>
</html>